<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}Coronavirus Reporting System{% endblock %}</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Include Chart.js library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% comment %} <!-- Include your custom CSS -->
    <link rel="stylesheet" href="{% static 'your_custom_css.css' %}"> {% endcomment %}
    <style>
        /* Add overlay background color only for body background image */
        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6); /* Adjust the alpha (last) value to control opacity */
            z-index: -1; /* Place the overlay behind other content */
        }
    </style>
</head>
<body style="background-image: url('{% static 'bg/bg1.jpg' %}'); background-size: cover;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ml-auto"> <!-- Use ml-auto to shift navigation to the right -->
        <a class="navbar-brand" href="{% url 'diagnosis:home' %}">Coronavirus Reporting System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="virus-emoji">&#129440;</i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'diagnosis:home' %}">Home</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'diagnosis:diagnosis_report' %}">Take Diagnosis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'diagnosis:diagnosis_list' %}">Diagnosis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'diagnosis:report_list' %}">Reports</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'diagnosis:live_report' %}">Live Reports</a>
                </li>
                <!-- Show these links when the user is authenticated (logged in) -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:password_change' %}">Change Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:logout' %}">Logout</a>
                </li>
                {% else %}
                <!-- Show these links when the user is not authenticated (not logged in) -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="content"><br>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    
    <footer class="footer text-center text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <p>Email: contact@coronavirus-reporting.com</p>
                    <p>Phone: +234-902-456-7890</p>
                </div>
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'diagnosis:home' %}">Home</a></li>
                        <li><a href="{% url 'diagnosis:diagnosis_report' %}">Diagnosis</a></li>
                        <li><a href="{% url 'diagnosis:live_report' %}">Live Reports</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <a href="#" class="text-white"><i class="fab fa-facebook fa-2x mx-3"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-twitter fa-2x mx-3"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-linkedin fa-2x mx-3"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center py-2">
            <p>&copy; 2023 Coronavirus Reporting System</p>
        </div>
    </footer>
    
    <!-- Include Bootstrap JS and jQuery (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
