{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Diagnoses</h1>
    <ul class="list-group">
        {% for diagnosis in diagnoses %}
            <li class="list-group-item">
                <a href="{% url 'diagnosis:diagnosis_result' diagnosis_id=diagnosis.id %}" class="text-dark">
                    Diagnosis {{ diagnosis.id }}
                    <span class="badge badge-secondary">{{ diagnosis.date|date:"F j, Y, g:i a" }}</span>
                </a>
            </li>
        {% empty %}
            <p>No diagnoses available.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}
